html {
	height: 100%;
	background: rgb(0,0,0);
}

body {
	margin: 0;
	height: 100%;
	font-family: sans-serif;
	background: rgb(61,70,73);
	overflow: hidden;
	-webkit-text-size-adjust: 100%;

}

#connection {
	display: block;
	height: 100%;
	line-height: 100vh;
	color: #eee;
	font-size: 10vw;
	text-align: center;
}

#display {
	display: none;
	height: 100%;
}

	#display-canvas {
		display: block;
		height: 100%;
		width: 100%;
	}

	#debug {
		display: inline;
		padding: 0.2em;
		color: #eee;
		background: #222;
	}