html { }

body {
	margin: 0;
}

#canvas {
	display: block;
	height: 100%;
	width: 100%;
	background: #fff;
}

/*
.team {
	position: absolute;
	top: 0;
	bottom: 0;
	z-index: 20;
	padding: 1em 2em;
	background: #444;
}

#team-blue {
	left: 0;
	color: #00f;
}

#team-red {
	color: #f00;
	right: 0;
}

.team li {
	padding: 0.2em;
}
*/
