html {
  height: 100%;
  background: rgb(0, 0, 0);
}

body {
  margin: 0;
  height: 100%;
  font-family: sans-serif;
  background: rgb(61, 70, 73);
  overflow: hidden;
  -webkit-text-size-adjust: 100%;
}

#index {
  display: block;
}

#index a {
  display: block;
  text-align: center;
  height: 50vh;
  line-height: 50vh;
  font-size: 18vw;
}

@media (orientation: landscape) {
  #index {
    display: table;
    height: 100vh;
    width: 100%;
  }

  #index a {
    display: table-cell;
    line-height: 100vh;
    font-size: 9vw;
  }
}

#index a {
  text-decoration: none;
  color: #fff;
}

#index a.controller {
  background: rgb(0, 176, 111);
}

#index a.observer {
  background: rgb(255, 66, 0);
}

#controller #connection {
  display: block;
  height: 100%;
  line-height: 100vh;
  color: #eee;
  font-size: 10vw;
  text-align: center;
}

#controller #login {
  display: none;
}

#controller #login-name {
  margin: 0;
  padding: 0;
  width: 100%;
  text-align: center;
  height: 50vh;
  border: none;
  font-size: 10vw;
}

#controller #login-send {
  margin: 0;
  padding: 0;
  width: 100%;
  text-align: center;
  height: 50vh;
  border: none;
  font-size: 10vw;
}

#controller #login-send.team1 {
  color: #fff;
  background: rgb(0, 176, 111);
}

#controller #login-send.team2 {
  color: #fff;
  background: rgb(255, 66, 0);
}

#controller #play {
  display: none;
  height: 100%;
}

#controller #play-deg {
  position: relative;
  top: 50%;
  margin: 0;
  transform: translateY(-50%);
}

#controller input[type='range'] {
  width: 100%;
  -webkit-appearance: none;
}

#controller input[type='range']:focus {
  outline: none;
}

#controller input[type='range']::-webkit-slider-runnable-track {
  width: 100%;
  height: 10vh;
  cursor: pointer;
  background: rgb(45, 47, 49);
}

#controller input[type='range']::-webkit-slider-thumb {
  height: 20vh;
  width: 20vh;
  border-radius: 100%;
  background: rgb(255, 255, 255);
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -5vh;
}

#controller input[type='range'].team1::-webkit-slider-thumb {
  background: rgb(0, 176, 111);
}
#controller input[type='range'].team2::-webkit-slider-thumb {
  background: rgb(255, 66, 0);
}

#controller input[type='range']:focus::-webkit-slider-runnable-track {
  background: rgb(45, 47, 49);
}

#controller input[type='range']::-moz-range-track {
  width: 100%;
  height: 10vh;
  cursor: pointer;
  background: rgb(45, 47, 49);
}

#controller input[type='range']::-moz-range-thumb {
  height: 20vh;
  width: 20vh;
  border-radius: 100%;
  background: rgb(255, 255, 255);
  cursor: pointer;
}

#controller input[type='range'].team1::-moz-range-thumb {
  background: rgb(0, 176, 111);
}
#controller input[type='range'].team2::-moz-range-thumb {
  background: rgb(255, 66, 0);
}
