html {
	background: rgb(61,70,73);
}

body {
	margin: 0;
	font-family: sans-serif;
}

#log {
	position: absolute;
	top:0;
	left: 0;
	font-size: 15vh;
	background: rgba(127,127,127,0.5);
}

#name,
#play,
#deg {
	width: 100%;
	padding: 0;
	border: none;
	border-radius: 0;
	outline: none;
}

#name,
#play {
	display: block;
	height: 50vh;
	text-align: center;
}

#deg {
	display: none;
}

#name {
	font-size: 20vh;
}

#play {
	font-size: 15vh;
}

#deg {
	margin: 0;
	height: 100vh;
	background: transparent;
}

input[type=range] {
	width: 100%;
	-webkit-appearance: none;
}

input[type=range]:focus {
	outline: none;
}

input[type=range]::-webkit-slider-runnable-track {
	width: 100%;
	height: 10vh;
	cursor: pointer;
	background: rgb(45,47,49);
}

input[type=range]::-webkit-slider-thumb {
	height: 20vh;
	width: 20vh;
	border-radius: 100%;
	background: rgb(0,176,111);
	cursor: pointer;
	-webkit-appearance: none;
	margin-top: -5vh;
}

input[type=range]:focus::-webkit-slider-runnable-track {
	background: rgb(45,47,49);
}

input[type=range]::-moz-range-track {
	width: 100%;
	height: 10vh;
	cursor: pointer;
	background: rgb(45,47,49);
}

input[type=range]::-moz-range-thumb {
	height: 20vh;
	width: 20vh;
	border-radius: 100%;
	background: rgb(0,176,111);
	cursor: pointer;
}
