html {
	background: #444;
}

body {}

#name,
#play,
#deg {
	width: 100%;
	border: none;
	outline: none;
	padding: 0;
}

#name,
#play {
	display: block;
	text-align: center;
}

#deg,
#output {
	display: none;
}

#name {
	font-size: 20vh;
}

#play {
	font-size: 15vh;
}

#deg {
	
}
